<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
{{with .Header}}
    <b>From:</b> {{.From}} - <b>To:</b> {{.To}}<br/>
    <b>Subject:</b> {{.Subject}}<br/>
{{end}}<br/>
</div>

<div class="mail">
    <!-- Mail content comes from third parties: no script, no same-origin access -->
    <iframe sandbox src="{{.Content}}" class="{{.ContentInfo.Type.Type}}"
            title="{{.ContentInfo.Type.Type}}/{{.ContentInfo.Type.Subtype}}"></iframe>
</div>
</body>
</html>
